{% extends 'first/main.html' %}

{% block title %}Новая запись{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма добавления</h1>
      <form method='post'>
          {% csrf_token %}
        <input type="text" placeholder="Название поста" class="form-control"><br>
        <input type="text" placeholder="Анонс" class="form-control"><br>
        <textarea class="form-control" placeholder="Текст"></textarea><br>
        <button class="btn btn-success" type="submit ">Добавить пост</button>
      </form>
    </div>
{% endblock %}