{% extends 'first/main.html' %}

{% block title %}Новая запись{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма добавления</h1>
      <form method='post'>
          {% csrf_token %}
              <p>{{ form.title }}</p><br>
              <p>{{ form.anans }}</p><br>
              <p>{{ form.text }}</p><br>
              <p>{{ form.data_time }}</p><br>
          <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Добавить пост</button>
      </form>
    </div>
{% endblock %}